
/Client/MQClient/.vs
/Client/MQClient/MQClient.Core/bin
/Client/MQClient/MQClient.Core/obj
/Client/MQClient/MQClient.View/bin
/Client/MQClient/MQClient.View/obj
/Client/MQClient/MQClient/bin
/Client/MQClient/MQClient/obj
/Client/MQClient/packages
